body {
    padding-top: 40px;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.row {
    margin-top: 20px;
}

footer {
    margin-top: 20px;
    padding-top: 10px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.85);
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    text-align: center;
}
