body {
    padding-top: 30px;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.row {
    margin-top: 20px;
}